**Importing the demo file**

In [1]:
import pandas as pd
data = pd.read_csv('/content/Annual Price.csv')

In [2]:
data

         Date  Price
0  March 2020    234
1  March 2021    345
2  March 2022    445
3  March 2023    553
4  March 2025    678
5  March 2026    789
6  March 2027    598
7  March 2028    569
8  March 2029    987

**Implementation of search using list and why dict is required**

In [3]:
dataList = data.values.tolist()

In [4]:
dataList

[['March 2020', 234],
 ['March 2021', 345],
 ['March 2022', 445],
 ['March 2023', 553],
 ['March 2025', 678],
 ['March 2026', 789],
 ['March 2027', 598],
 ['March 2028', 569],
 ['March 2029', 987]]

Price on March 2026

Time Complexity: O(n)

Approach: Linear Search

In [5]:
for elements in dataList:
  if elements[0] == 'March 2026':
    print(elements[1])

789

**Implementation using dictionary**

In [6]:
hashing = dict(data.values)
hashing

{'March 2020': 234,
 'March 2021': 345,
 'March 2022': 445,
 'March 2023': 553,
 'March 2025': 678,
 'March 2026': 789,
 'March 2027': 598,
 'March 2028': 569,
 'March 2029': 987}

In [7]:
hashing['March 2026']

789

**Create a hash function which is responsible to generate the key of given value**

In [8]:
ord('M')

77

**Hash Function Definition - Division Modulo Approach**

In [9]:
def hash_function(key):
  summation = 0
  ## size of the hashtable
  m = 10
  for char in key:
    summation += ord(char)
  ## division modulo hash function
  return summation % m

In [10]:
hash_function('March 2026')

5

In [11]:
hash_function('March 2020')

9

Create a class of HashTable in which we will be able to perform the below operations:


1.   Addition of an item in the hash table

2.   Extraction of any item in the hash table

3.   Creation of any hash function

In [12]:
class HashTable:
  def __init__(self):
    ## size of hashtable is 10
    self.MAX = 10
    ## intialize all elements as None
    self.arr = [None for i in range(self.MAX)]

  ## hash function method definition
  def hash_function(self, key):
    summation = 0
    ## size of the hashtable
    m = 10
    for char in key:
      summation += ord(char)
    ## division modulo hash function
    return summation % m

  ## addition of an item in the hash table
  def addItem(self, key, value):
    h = self.hash_function(key)
    self.arr[h] = value
  
  ## get any item from the hash table
  def getItem(self, key):
    h = self.hash_function(key)
    return self.arr[h]

In [13]:
## create an object of the class HashTable
obj = HashTable()

In [14]:
## display the array elements of hash table
obj.arr

[None, None, None, None, None, None, None, None, None, None]

In [15]:
obj.addItem('March 2020', 234)
obj.addItem('March 2021', 345)
obj.addItem('March 2022', 445)
obj.addItem('March 2023', 553)

In [16]:
obj.arr

[345, 445, 553, None, None, None, None, None, None, 234]

In [17]:
obj.getItem('March 2023')

553

**Method Overloading and Method Overriding**

In [18]:
## obj[key] = value
class HashTable:
  def __init__(self):
    ## size of hashtable is 10
    self.MAX = 10
    ## intialize all elements as None
    self.arr = [None for i in range(self.MAX)]

  ## hash function method definition
  def hash_function(self, key):
    summation = 0
    for char in key:
      summation += ord(char)
    ## division modulo hash function
    return summation % self.MAX

  ## addition of an item in the hash table
  def __setitem__(self, key, value):
    h = self.hash_function(key)
    self.arr[h] = value
  
  ## get any item from the hash table
  def __getitem__(self, key):
    h = self.hash_function(key)
    return self.arr[h]

In [19]:
obj1 = HashTable()
obj1['March 2025'] = 678

In [20]:
obj1['March 2025']

678

**Collision happen when march 6 and march 17 will be the key because the hash value of both of them is 9 only.**

Here, we are not handling any collisions in Hash Table

In [30]:
hash_function('march 6')

9

In [31]:
hash_function('march 17')

9

In [27]:
obj1['march 6'] = 20
obj1['march 17'] = 27

Observation: Data loss

Why??

Because value will be overwritten if you face collision in the Hashtable

In [28]:
obj1['march 6']

27

In [29]:
obj1.arr

[None, None, None, None, 678, None, None, None, None, 27]

**Chaining Implementation - to avoid the collisions inside the HashTable**

In [41]:
## obj[key] = value
class HashTable:
  def __init__(self):
    ## size of hashtable is 10
    self.MAX = 10
    ## intialize all elements as None
    self.arr = [[] for i in range(self.MAX)]

  ## hash function method definition
  def hash_function(self, key):
    summation = 0
    for char in key:
      summation += ord(char)
    ## division modulo hash function
    return summation % self.MAX

  ## addition of an item in the hash table
  def __setitem__(self, key, value):
    found = False
    h = self.hash_function(key)

    for index, element in enumerate(self.arr[h]):
      if len(element) == 2 and element[0] == key:
        self.arr[h][index] = (key, value)
        found = True
        break

    if not found:
      self.arr[h].append((key, value))
  
  ## get any item from the hash table
  ## element - (key, value)
  ## element[0] - key
  ## element[1] - value
  def __getitem__(self, key):
    h = self.hash_function(key)
    for index, element in enumerate(self.arr[h]):
      if element[0] == key:
        return element[1]

  
  ## delete the item from the hashtable
  def __delitem__(self, key):
    h = self.hash_function(key)
    for index, element in enumerate(self.arr[h]):
      if element[0] == key:
        del self.arr[h][index]

**Collision happen when march 6 and march 17 will be the key because the hash value of both of them is 9 only.**

In [26]:
hash_function('march 6')

9

In [42]:
obj2 = HashTable()
obj2['march 6'] = 20
obj2['march 17'] = 27

In [43]:
obj2['march 17']

27

In [44]:
obj2.arr

[[], [], [], [], [], [], [], [], [], [('march 6', 20), ('march 17', 27)]]

In [45]:
del obj2['march 6']

In [46]:
obj2.arr

[[], [], [], [], [], [], [], [], [], [('march 17', 27)]]

**Open Addressing - Linear Probing, Quadratic Probing, Double Hashing**

**Task : Modify the below functions only to implement above techniques**

In [ ]:
## obj[key] = value
class HashTable:
  def __init__(self):
    ## size of hashtable is 10
    self.MAX = 10
    ## intialize all elements as None
    self.arr = [[] for i in range(self.MAX)]

  ## hash function method definition
  def hash_function(self, key):
    summation = 0
    for char in key:
      summation += ord(char)
    ## division modulo hash function
    return summation % self.MAX

  ## addition of an item in the hash table
  def __setitem__(self, key, value):
    found = False
    h = self.hash_function(key)

    for index, element in enumerate(self.arr[h]):
      if len(element) == 2 and element[0] == key:
        self.arr[h][index] = (key, value)
        found = True
        break

    if not found:
      self.arr[h].append((key, value))
  
  ## get any item from the hash table
  ## element - (key, value)
  ## element[0] - key
  ## element[1] - value
  def __getitem__(self, key):
    h = self.hash_function(key)
    for index, element in enumerate(self.arr[h]):
      if element[0] == key:
        return element[1]

  
  ## delete the item from the hashtable
  def __delitem__(self, key):
    h = self.hash_function(key)
    for index, element in enumerate(self.arr[h]):
      if element[0] == key:
        del self.arr[h][index]